@model Trex.ViewModel.Orders.OrderCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-8">
                <!-- general form elements -->
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Employee Create</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form method="post">
                        <div class="card-body">
                            <div class="form-group">
                                <label>Employee</label>
                                <select asp-for="Order.EmployeeId"
                                        asp-items="@(new SelectList(Model.Employees,"Id","LastName"))">
                                    <option>Please select employee one</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Cusromer</label>
                                <select asp-for="Order.CustomerId"
                                        asp-items="@(new SelectList(Model.Customers,"Id","CompanyName"))">
                                    <option>Please select customer one</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>OrderDate</label>
                                <input asp-for="Order.OrderDate" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>RequiredDate</label>
                                <input asp-for="Order.RequiredDate" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>ShippedDate</label>
                                <input asp-for="Order.ShippedDate" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>ShipVia</label>
                                <input asp-for="Order.ShipVia" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Freight</label>
                                <input asp-for="Order.Freight" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>ShipName</label>
                                <input asp-for="Order.ShipName" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Street</label>
                                <input asp-for="Order.ShipAddress.Street" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>City</label>
                                <input asp-for="Order.ShipAddress.City" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Region</label>
                                <input asp-for="Order.ShipAddress.Region" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>PostalCode</label>
                                <input asp-for="Order.ShipAddress.PostalCode" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Country</label>
                                <input asp-for="Order.ShipAddress.Country" class="form-control" />
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-info">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>



