@model Trex.Entity.Models.Customer

@{
    ViewData["Title"] = "Create";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-8">
                <!-- general form elements -->
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Customer Create</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form method="post">
                        <div class="card-body">
                            <div class="form-group">
                                <label>Company Name</label>
                                <input asp-for="CompanyName" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Contact Name</label>
                                <input asp-for="ContactName" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Contact Title</label>
                                <input asp-for="ContactTitle" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Street</label>
                                <input asp-for="Address.Street" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>City</label>
                                <input asp-for="Address.City" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Region</label>
                                <input asp-for="Address.Region" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Postal Code</label>
                                <input asp-for="Address.PostalCode" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Country</label>
                                <input asp-for="Address.Country" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Phone</label>
                                <input asp-for="Address.Phone" class="form-control" />
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-info">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

