@model Trex.Entity.Models.Category
@{
    ViewData["Title"] = "Create";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Category Create</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form method="post">
                        <div class="card-body">
                            @*<input asp-for="Id" type="hidden" />*@
                            <div class="form-group">
                                <label>Name</label>
                                <input asp-for="Name" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <input asp-for="Description" class="form-control" />
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-info">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

